/Duplicates/target/
/PrintDuplicates/target/
/RemoveSpace/target/
/BinarySearch/target/
/MatrixAddition/target/
/MatrixMultiplication/target/
/Transpose/target/
/Prymid/target/
/InverseTriangle/target/
/Square/target/
/Triangle/target/
/Diamond/target/
/S/target/
